*,*::after,*::before{
    box-sizing: border-box;
}
body{
    margin: 0;
    color: #555555;
}
.header{
    background-image: url(../imgs/mainlogo.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
    height: 90vh;
}
.bg-grey{
    background-color: rgb(169, 169, 169);
    color: #1a1a1a;
}
.layer{
    background-color:rgba(157, 4, 4, 0.653);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.sidebar {
    position: fixed;
    background-color: #333;
    transition: 0.5s;

}
.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
}
.sidebar a:hover {
    color: brown;
}

.openbtn {
    cursor: pointer;
    padding: 10px 15px;
    border: none;
   top: 290px;
}

.singer-box {
    background-color: #ee7690;
    border: 1px solid #ee7690;
    font-size: 25px;
    cursor: pointer;
}
.singer-info {
    display: none;
    margin-top: 10px;
    font-size: 14px;
    font-weight: 400;
}
.numbers{
    background-image: url(../imgs/joinnn.jpg);
    background-position: center;
    background-size: cover;
    .layer{
        padding-top:100px;
        padding-bottom:100px;
    }

}

.circle{
    height:30px;
    width:30px;
    line-height: 1.55;
    margin: 1px;
    box-shadow: 0 0 0 1px #1a1a1a;
    transition: all 0.3s ease;
    }
.circle:hover {
        background-color: #aa0303;
        color: white;
    } 
.circle:hover i{
        color: white;
    }

.borderss{
    border: 1px solid #ffffff;
}
textarea{
    height: 190px;
}